html, body {
  height: 100%;
  width: 100%;
}
body {
  padding-top: 55px;
}
#map {
  width: 100%;
  height: 350px;
}
#toolbar {
  display: none;
}
#error-alert {
  display: none;
}
#error-alert .alert {
  padding: 10px;
  margin-bottom: 15px;
}
.white {
  color: white;
}
.navbardropdown {
  padding-right: 10px;
}
.navbarlabel {
  color: white;
  padding-right: 5px;
}
.navbarselect {
  max-width: 250px;
}
.navbar-brand img {
  height: 40px;
  margin-top: -10px;
  margin-bottom: -5px;
  margin-right: 0px;
  display: inline;
}
.login-header {
  background: #428bca;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.progress-bar-full {
  width: 100%;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
#loading {
  display: none;
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#sqlModal .modal-body {
  background-color: #f7f7f7;
}
@media (max-width: 768px) {
  .bootstrap-table .pull-right {
    display: none;
  }
}
@media print {
  .navbar {
    display: none !important;
  }
}
.org-picker-form {
  display: none;
}
